@import '../../../../../node_modules/@fontsource/raleway/variable.css';
.resume {
  font-family: RalewayVariable, sans-serif;
  font-weight: 300;

  // div > :last-child {
  //   margin-bottom: 0 !important;
  // }

  h1,
  h2,
  p,
  li {
    font-weight: 400;
  }

  p,
  li {
    color: #4a4b65;
  }

  h5 {
    letter-spacing: 0.1em;
  }

  address {
    font-size: 0.8rem;
    padding: 0 20px 0 0;
    // line-height: 1.5;
    margin: 0;
  }
}

.py-8 {
  padding: 8rem 0;
}

.py-9 {
  padding: 9rem 0;
}

.name {
  letter-spacing: 0.15em;
}

.role {
  letter-spacing: 0.15em;
}

.text-muted {
  color: $gray-700 !important;
}

.avatar {
  margin-left: 10%;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.first {
  margin-top: 1rem;
}

.last {
  margin-bottom: 1rem;
}

.grid-2-col {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  span {
    line-height: 1.3;
  }
}

.grid-4-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.5rem;
  span {
    line-height: 1.3;
  }
}

.font-small {
  font-size: 0.9rem;
  line-height: 1.563rem;
  letter-spacing: 0.004rem;
}

.resume-detail-body {
  font-size: 0.9rem;
  line-height: 1.2;
  letter-spacing: 0.004rem;
  padding: 1.75rem;
  h4 {
    margin: 0 0 1rem 0;
  }
  div:last-child hr {
    display: none;
  }
  .date {
    margin: 0 0 1rem 0;
  }
  .summary {
    margin: 0 0 1rem 0;
    line-height: 1rem;
  }
  .duties p {
    margin: 0 0 0.438rem 0;
    line-height: 1.12;
  }
}
// End custom classes

// Media queries
// #################################

@include media-breakpoint-up(lg) {
  .col-sm-5 {
    border-radius: 10px 0 0 10px;
  }

  .col-sm-7 {
    border-radius: 0 10px 10px 0;
  }

  // .container-md {
  //   max-width: 720px;
  // }

  // .container-lg {
  //   max-width: 960px;
  // }

  // .container-xl {
  //   max-width: 1200px;
  // }

  // .container-xxl {
  //   max-width: 1200px;
  // }
}
